<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">

        <div class="slide" id="acres">
            <div class="chartTitle">A loss of protected land</div>
            <div class="chatter">The total <span class="legendary orange2">acres of land</span> managed under the Conservation Reserve Program in Minnesota has steadily declined since 2007.</div>
    
            <div class="chart" id="chartTrend"></div>
    
            <div class="byline">Data source: U.S. Department of Agriculture | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>
    
        <div class="slide" id="change">
          <div class="chartTitle">Changes to CRP lands</div>
          <div class="chatter">CRP acreage throughout Minnesota has <span class="legendary orange2">declined</span> since 2007 in most counties – particularly in the Iron Range – and only <span class="legendary blue3">increased</span> in a dozen areas.</div>
            <div id="mapCounties" class="map">
                <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
            </div>
    
          <div class="byline">Data source: U.S. Department of Agriculture | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>
  </div>
  </div>
</main>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
