/**
 * Main style file for project.
 * Uses SASS, specifically the SCSS syntax
 * http://sass-lang.com/
 */


// Include strib-icons
$strib-fonts-location: '//static.startribune.com/assets/libs/strib-icons/0.0.10/';
@import '@striblab/strib-icons/build/strib-icons.scss';


// Environment noting
@import "shared/_environment";

// Strib styles
// https://github.com/striblab/strib-styles/blob/master/source/styles/_variables.scss

@import '@striblab/strib-styles/source/styles/default.scss';

// Split your styles into multiple files so its easier to understand and change
@import 'shared/_project';

.tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    font-size: 0.6em;
    padding: 0.5em 1em;
    .tooltip-label {
      font-weight: 900;
      display: inline-block;
      padding-right: 0.5em;
    }
  }
  
  .legendary {
    padding: 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 7px;
    margin-bottom: 3px;
    display: inline-block;
  }
    
    @media (max-width:800px) {
          #wrapper, .slide, .container-lg, .map, .map svg {
              width: 100% !important;
          }
      }
      @media (max-width:500px) {
          #wrapper {
              width: 100%;
      }
      .city-label, .label-bg {
        display:none !important;
      }
      }
